<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./master/head.ejs') %>
    <title>Find Friends | Available users</title>
</head>
<body>
    <%- include('./master/navbar.ejs') %>
    <!-- Available users' list -->
    <nav class="container">
        <div></div>
    </nav>
    <%- include('./master/scripts.ejs') %>
</body>
</html>