<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./master/head_links_meta.ejs') %>
    <title>FindFriends | HOME</title>
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-dark bg-dark d-flex justify-content-center">
        <section class="navbar-brand mb-0 h1 text-danger">FindFriends</section>
    </nav>
    <!-- logout-button -->
    <nav class="container p-0 d-flex justify-content-center align-items-center list">
        <%-friendsList%>
    </nav>
    <!-- scripts -->
    <%- include('./master/scripts.ejs') %>
    <script src="/javascripts/counter.js"></script>
</body>
</html>