<footer class="p-3 text-center bg-light text-light chapter border-top container-fluid" dir="ltr">
    <div class="row justify-content-around container">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a type="button" class="btn btn-secondary m-1 rounded social" href="https://twitter.com/programming_4" target="_blank">Twitter</a>
            <a type="button" class="btn btn-secondary m-1 rounded social" href="https://instgram.com/programming__4">Instgram</a>
            <a type="button" class="btn btn-secondary m-1 rounded social" href="https://t.me/programming_4">Telegram</a>
            <a href="#" class="btn btn-outline-dark m-1 rounded social">ادعمنا في باي بال</a>
        </div>
        <p class="text-muted">برمجيات | جميع الحقوق محفوظة</p>
    </div>
    <div>
    </div>
</footer>