<nav class="navbar navbar-expand-lg navbar-light text-dark bg-light text-right float-center nb">
    <a class="navbar-brand" href="/">
        <img src="images/logo.jpg" width="30" height="30" class="d-inline-block align-top rounded m-1">
        برمجيات
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse float-right p-2" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto justify-content-center">
        <li class="nav-item link">
          <a class="nav-link link" href="/">الرئيسية</a>
        </li>
        <li class="nav-item link">
          <a class="nav-link link" href="courses">الدورات</a>
        </li>
        <li class="nav-item link">
            <a class="nav-link link" href="#goals">أهدافنا</a>
        </li>
        <li class="nav-item link">
            <a class="nav-link link" href="#services">خدماتنا</a>
        </li>
        <li class="nav-item link">
          <a class="nav-link link" href="#contact">تواصل معنا</a>
      </li>
      </ul>
    </div>
</nav>