<!-- The navbar -->
<nav class="navbar navbar-light bg-light d-flex row justify-content-around overflow-hidden">
    <section class="navbar-brand mb-0 h1">Chat Randomly</section>
    <div class="d-flex row headForms">
        <form action="/new" method="post">
            <input type="submit" value="New Chat" class="btn btn-outline-success">
        </form>
    </div>
</nav>