/* gStyles == general styles */

/* general */
*{
    outline: 0px;
    font-family:system-ui;
    transition: all 0.5s;
}
h1{
    color: #990158;
}
html{
    scroll-behavior: smooth;
}
body{
    direction: rtl;
    opacity: 0;
}
/* loading bar (lb) */
.lb{
    height:5px;
}
/* header */
.link:hover{
    color: #990158 !important;
}
/* gretting nav */
.whowe_re{
    background:#ffffff1c;
    border-radius: 16px
}
.wpaper_intro{
    width: 100%;
}
/* statistics div */
.st{
    padding:2px;
    background: linear-gradient(90deg, rgba(153,1,88,1) 0%, rgba(116,50,89,0.9996790952709209) 51%, rgba(212,17,128,1) 100%);
}
.stCard{
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);   
}
/* goals div */
new-goal .card:hover{
    top: -3px;
    background: #990158;
    color: white;
    box-shadow: 0px 0px 3px 0px #990158;
}
/* form */
input{
    border: 0px;
    border-bottom:1px solid;
    padding:3px;
    outline:0px;
}
textarea{
    padding: 3px;
    resize: none;
    outline: none;
}
/* courses page */
.headerCourse{opacity: 0;}